@model Testgrej.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Skyrim datingsite</h1>
    <p class="lead">Meet wonderful singles in your area today!</p>
    <p class="lead">Sign up for free!</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Sign up &raquo;</a></p>
</div>

<div class="row">
    <h3>These are just some of the people you can chat with here</h3>
    @foreach (var profile in @Model.profiles)
    {
    <div class="col-md-4">
       <img src="@profile.Image" width="100%" />
       <h2>@profile.Name, @profile.Age</h2>
       <p>
            @profile.AboutMe
       </p>
       <p><a class="btn btn-default" href="/Profile/Index/@profile.Id">Visit profile &raquo;</a></p>
    </div>
    }
   
</div>